<div class="border-form-div">
<%= form_for @registro do |f| %>
  <% if @registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registro.errors.count, "error") %> prohibited this registro from being saved:</h2>

      <ul>
      <% @registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, ["Internet","Television","Radio", "Cine","Prensa"] ,:class =>"form-control"%>
  </div>
  <div class="field">
    <%= f.label :channel %><br>
    <%= f.text_field :channel %>
  </div>
  <div class="field">
    <%= f.label :h_inicio %><br>
    <%= f.time_select :h_inicio %>
  </div>
  <div class="field">
    <%= f.label :h_final %><br>
    <%= f.time_select :h_final %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.select :location, ["Casa", "Trabajo", "Otro sitio"] ,:class =>"form-control" %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit "Create",:class =>'btn btn-primary' %>
  </div>
<% end %>
</div>