<h1 align="center">Listing Entries</h1>
<% @registros.each do |registro| %>
     <div class="border-form-div">
       <label>Type: </label><%=registro.type %><br>
       <label>Channel: </label><%=registro.channel%><br>
       <label>Initial Hour: </label><%=registro.h_inicio%><br>
       <label>Final Hour: </label><%=registro.h_final%><br>
       <label>Location: </label><%=registro.location%><br>
     </div>
<% end %>
