<div class="border-form-div">
<h1 align="center">Listing Entries</h1>
<% @registros.each do |registro| %>
     <div class="border-form-div">
       <label>Type: </label><%=registro.media %><br>
       <label>Channel: </label><%=registro.channel%><br>
       <label>Initial Hour: </label><%=registro.h_inicio%><br>
       <label>Final Hour: </label><%=registro.h_final%><br>
       <label>Location: </label><%=registro.location%><br>
       <%= link_to 'Edit', edit_registro_path(registro) %> |
     </div>
<% end %>
</div>
