<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @registro.type %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @registro.channel %>
</p>

<p>
  <strong>H inicio:</strong>
  <%= @registro.h_inicio %>
</p>

<p>
  <strong>H final:</strong>
  <%= @registro.h_final %>
</p>

<p>
  <strong>Location:</strong>
  <%= @registro.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @registro.user %>
</p>

<%= link_to 'Edit', edit_registro_path(@registro) %> |
<%= link_to 'Back', registros_path %>
