 <header>
  <% if user_signed_in? %>
   <div class="menu_bar">
  <a href="#" class="btn-menu">
  <span class= "icon-menu"></span>
  <%= image_tag("logo-technicolor2.png",:class => "img_preview")%>
  Media Data</a>
  </div>
  <nav>
    <ul>
     <li>
       <%= link_to root_path do %> 
        <span class="icon-home"></span>
         Home
        <% end %>
     </li>
     <li>
     <%= link_to new_registro_path do %> 
        <span class="icon-newentry"></span>
         New Entry
        <% end %>
     </li>
      <% if current_user.admin==true %>
        <li>
        <%= link_to users_index_path do %> 
        <span class="icon-users"></span>
         Users
        <% end %>
      <% end %>
      <li>
        <%= link_to current_user do %> 
        <span class="icon-profile"></span>
         Profile
        <% end %>
     </li>
     <li>
        <%= link_to edit_user_registration_path do %> 
        <span class="icon-settings"></span>
         Settings
        <% end %>
     </li>
      <li>
        <%= link_to destroy_user_session_path, :method => :delete do %> 
        <span class="icon-signout"></span>
         Sign Out
        <% end %>
     </li>
    </ul>
  </nav>
<% end %>
</header>
