<!DOCTYPE html>
<html ng-app='mediadata'>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>MediaDataApp</title>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'fonts', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'estilos', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'introjs', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'intro', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="menu menu-open" onload="checkCookie()">


<div class="container-narrow">
    <script >
    $('nav').hide();
    </script>
    <%= render 'layouts/user_header' %>
  
   <section>
       <%= yield %>
   </section>
   <script type="text/javascript"
   src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <%= javascript_include_tag 'menu', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'tour', 'data-turbolinks-track' => true %>s
</div>

</body>
</html>
